@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 50px; font-family: sans-serif; text-align: center;">
    <h1 class="display-4">SalesWebMvc - ProjetoWeb</h1>
    <p>A página inicial foi recuperada com sucesso!</p>
    <br />
    <a class="btn btn-primary" asp-controller="Departments" asp-action="Index">
        Acessar o CRUD de Departamentos
    </a>

</div>