@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 50px; font-family: sans-serif; text-align: center;">
    <h1 class="display-4">SalesWebMvc</h1>
    <p>Inicial page recovered with success!</p>
    <br />
    <a class="btn btn-primary" asp-controller="Departments" asp-action="Index">
        Access the department CRUD
    </a>

</div>